@using WSCCore.Services;
@model WSCData.Models.Entities.Queue

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Queue</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Users)
        </dt>

        <dd>
            @Html.Partial("_QueueDetailsPartial", Model)
        </dd>

    </dl>
</div>
<p>
    @if (User.IsInRole("Admin") || WSCUtils.IsUserInModeratorsGroup(Model.Moderators, User.Identity.Name))
    {
        @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) @:|
    }
    @Html.ActionLink("Back to List", "Index")
</p>
